html {
    background-image: url("./Attachments_of_DL/OIP\ \(4\).jpeg");
}
h1 {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("./Attachments_of_DL/OIP\ \(2\).jpeg"); 
    color: white;
    font-size: 50px;
    text-align: center;
    border: 20px solid white;
    margin: 10px;
    padding: 70px;
    font-family: cursive;
    border-radius: 70px;
}
nav a {
    animation: bouncing 1s ease 0s infinite alternate both;
    font-size: x-large;
    font-family: cursive;
    color: white;
    text-decoration-line: none;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
    letter-spacing: 0.2em;
    padding: 1em 2em 1.1em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    margin-top: 10px;
}
@keyframes bouncing {
    0% {
        bottom: 0;
        box-shadow: 0 0 10px green;
    }
    50%{
        bottom: 20px;
        box-shadow: 0 25px 25px navy;
    }
    100% {
        bottom: 40px;
        box-shadow: 0 50px 50px purple;
    }
}
h2 {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("./Attachments_of_DL/OIP\ \(3\).jpeg");
    border: 20px solid ghostwhite;
    margin: 10px;
    padding: 50px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    border-radius: 70px;
}
ul {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("./Attachments_of_DL/OIP\ \(6\).jpeg");
    border: 10px solid ghostwhite;
    margin: 25px;
    padding: 50px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    font-size: x-large;
    text-align: center;
    color: white;
    list-style: none;
    font-family: cursive;
    font-style: italic;
    border-radius: 50px;
}
ol {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("./Attachments_of_DL/OIP\ \(1\).jpeg");
    border: 10px solid ghostwhite;
    margin: 25px;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    float: left;
    font-size: x-large;
    text-align: center;
    color: white;
    list-style: none;
    font-family: cursive;
    font-style: italic;
    border-radius: 50px;
}
i:hover, li:hover{
    animation: bouncing 1s ease 0s infinite alternate both;
}
p {
    background-image: url("./Attachments_of_DL/OIP\ \(5\).jpeg");
    font-size: x-large;
    font-family:sans-serif;
    color: white;
    font-family: cursive;
    border: 10px solid ghostwhite;
    margin: 25px;
    padding: 50px;
    border-radius: 50px;
}
i {
    font-size: larger;
}
h2:hover, ul:hover, ol:hover, i:hover {
    color: silver;
}
h1:hover, h2:hover, h3:hover, a:hover, i:hover {
    filter: hue-rotate(10px);
    animation: 1s infinite pulse;
}
h3 {
    text-align: center;
}
div.Notes {
    text-align: center;
    border: 20px solid white;
    margin: 10px;
    padding: 70px;
}
@keyframes pulse {
0% {
    border-radius: 50px;
    filter: hue-rotate(10px);
    color: greenyellow;
    border-color: silver;
}
50% {
    border-radius: 60px;
    filter: blur(1px);
    color: navy;
    border-color:darkgray;
}
100% {
    border-radius: 50px;
    filter: hue-rotate(2px);
    color: purple;
    border-color: gray;
}
}