html {
    background-image: url("./Attachments_of_AI/OIPi.jpeg");
}
h1 {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("./Attachments_of_AI/Artificial_Intelligence.jpeg");
    color: white;
    font-size: 50px;
    text-align: center;
    border: 20px solid white;
    margin: 10px;
    padding: 70px;
    font-family: cursive;
    border-radius: 70px;
}
nav a {
    animation: bouncing 1s ease 0s infinite alternate both;
    font-size: x-large;
    font-family: cursive;
    color: white;
    text-decoration-line: none;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
    letter-spacing: 0.2em;
    padding: 1em 2em 1.1em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    margin-top: 10px;
}
a.ChatGPT {
    color: white;
    text-decoration: none;
}
@keyframes bouncing {
    0% {
        bottom: 0;
        box-shadow: 0 0 10px green;
    }
    50%{
        bottom: 20px;
        box-shadow: 0 25px 25px navy;
    }
    100% {
        bottom: 40px;
        box-shadow: 0 50px 50px purple;
    }
}
h2 {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("./Attachments_of_AI/OIP.jpeg");
    border: 20px solid ghostwhite;
    margin: 10px;
    padding: 50px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    border-radius: 70px;
}
ul.Revolution {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("./Attachments_of_AI/OIPb.jpeg");
    background-size: cover;
    border: 10px solid ghostwhite;
    margin: 25px;
    padding: 50px;
    color: white;
    font-family: cursive;
    font-size: 50px;
    font-size: x-large;
    list-style: none;
    font-family: cursive;
    font-style: italic;
    border-radius: 50px;
}
ol.AI_Topics {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("./Attachments_of_AI/OIPi.jpeg");
    border: 10px solid ghostwhite;
    margin: 25px;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    float: left;
    font-size: x-large;
    text-align: center;
    color: white;
    list-style: none;
    font-family: cursive;
    font-style: italic;
    border-radius: 50px;
}
ol.ML_Topics {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("../No_2_Machine_Learning/Notes_of_Machine_Learning/Attachments_of_ML/OIPm.jpeg");
    border: 10px solid ghostwhite;
    margin: 25px;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    float: left;
    font-size: x-large;
    text-align: center;
    color: white;
    list-style: none;
    font-family: cursive;
    font-style: italic;
    border-radius: 50px;
}
ol.DL_Topics {
    animation: bouncing 1s ease 0s infinite alternate both;
    background-image: url("../No_3_Deep_Learning/Notes_of_Deep_Learning/Attachments_of_DL/OIP\ \(4\).jpeg");
    border: 10px solid ghostwhite;
    margin: 25px;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    float: left;
    font-size: x-large;
    text-align: center;
    color: white;
    list-style: none;
    font-family: cursive;
    font-style: italic;
    border-radius: 50px;
}
i:hover, li:hover{
    animation: bouncing 1s ease 0s infinite alternate both;
}
div.About_AI {
    background-image: url("./Attachments_of_AI/OIPf.jpeg");
    background-size: cover;
    font-size: x-large;
    font-family:sans-serif;
    color: white;
    font-family: cursive;
    border: 10px solid white;
    margin: 25px;
    padding: 70px;
    border-radius: 70px;
}
ul.Types {
    color: white;
    font-family: cursive;
    font-size: x-large;
    list-style: none;
    font-family: cursive;
    font-style: italic;
}
i {
    font-size: larger;
}
h2:hover, ul:hover, ol:hover, i:hover {
    color: white;
}
h1:hover, h2:hover, h3:hover, a:hover, i:hover {
    filter: hue-rotate(10px);
    animation: 1s infinite pulse;
  }
@keyframes pulse {
0% {
    border-radius: 50px;
    filter: hue-rotate(10px);
    color: greenyellow;
    border-color: silver;
}
50% {
    border-radius: 60px;
    filter: blur(1px);
    color: navy;
    border-color:darkgray;
}
100% {
    border-radius: 50px;
    filter: hue-rotate(2px);
    color: purple;
    border-color: gray;
}
}
@keyframes white_pulse {
    0% {
        border-radius: 50px;
        filter: hue-rotate(10px);
        color: darkgray;
        border-color: silver;
    }
    50% {
        border-radius: 60px;
        filter: blur(1px);
        color: silver;
        border-color:darkgray;
    }
    100% {
        border-radius: 50px;
        filter: hue-rotate(2px);
        color: whitesmoke;
        border-color: gray;
    }
    }